body {
  font-family: 'Arial', sans-serif;
  background-color: #121212; /* Dark gray/near black background */
  color: #e0e0e0; /* Light gray text */
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 15%;
  background-color: #282828;
  color: #e0e0e0;
  padding: 20px;
  position: fixed; /* Make the sidebar sticky */
  height: 100vh; /* Ensure the sidebar takes the full height of the viewport */
  overflow-y: auto; /* Add vertical scrolling if the content overflows */
}

.sidebar h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.sidebar li a {
  color: #e0e0e0;
  text-decoration: none;
  flex-grow: 1;
}

.sidebar li:hover {
  background-color: #3a3a3a;
}

.sidebar li a:hover {
  text-decoration: underline;
}

.selected-sector {
  background-color: #007BFF; /* Blue background for selected sector */
}

.sector-with-issues {
  position: relative;
background-color: #f44336; /* Red background for sector with issues */
}

.issue-indicator {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 10px;
}
.sector-good{
  background-color: #298a29;
}

.machine-count {
  font-size: 0.6em;
padding-left: 8px;
  color: #a0aec0;
}

.header {
  background-color: #181818;
  color: #e0e0e0;
  padding: 20px;
  display: flex;
  flex-direction: column;
 margin: 0px; /* Adjust for the fixed sidebar */
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.company-name {
  font-size: 1.5em;
  font-weight: bold;
}

.user-name {
  font-size: 1em;
}

.header-nav {
  margin-top: 10px;
  text-align: center;
}

.header-nav nav a {
  margin: 0 20px;
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2em;
}

.header-nav nav a:hover {
  text-decoration: underline;
}

.page-title {
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: bold;
}

.last-updated {
  margin-top: 10px;
  font-size: 0.9em;
  text-align: right;
}

.main-content {
  width: 100%;
  margin-left: 0%; /* Adjust for the fixed sidebar */
  display: flex;
  flex-direction: column;
}

.dashboard {
  background-color: #181818;
  color: #e0e0e0;
  padding: 20px;
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: #282828;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.error {
  border: 2px solid red;
}

.error-message {
  color: red;
}
